* {
  margin: 0;
}

// Variables
$app-background: white;
$card-background: #d9ffff;

// Mixins
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  @include center-flex();
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: $app-background;
}

.WeatherCard {
  @include center-flex();
  flex-direction: column;
  height: 600px;
  width: 400px;
  border-radius: 10px;
  background-color: $card-background;
}

// Title Component
h1.Title {
  text-transform: uppercase;
}
